---
- name: Setting up infrastructure
  hosts: localhost
  become: true
  vars_files:
    - ../vars/machines.yaml
  tasks:

  - name: Set default mode
    set_fact:
      mode: "{{ mode | default('create') }}"

  - name: Install pip
    apt:
      name: python3-pip
      state: present
    when: mode == "create"

  - name: Use pip to install requests and google-auth
    pip:
      name:
        - requests
        - google-auth
    when: mode == "create"

  - name: Creating master machines
    include_tasks: ./tasks/create-masters-task.yaml
    when: mode == "create"

  - name: Creating worker machines
    include_tasks: ./tasks/create-workers-task.yaml
    when: mode == "create"

  - name: Destroying master machines
    include_tasks: ./tasks/destroy-masters-task.yaml
    when: mode == "destroy"

  - name: Destroying worker machines
    include_tasks: ./tasks/destroy-workers-task.yaml
    when: mode == "destroy"